<ul class="nav" role="menu">
  <li class="nav-home" role="menuitem">
    <a href="{{ site.urlbase }}">Home</a>
  </li>
  <li class="nav-getting-started" role="menuitem">
    <a href="{{ site.urlbase }}tag/fast-note/">Fast note</a>
  </li>
  <li class="nav-getting-started" role="menuitem">
    <a href="{{ site.urlbase }}tag/picture/">Describe a picture</a>
  </li>
  <li class="nav-getting-started" role="menuitem">
    <a href="{{ site.urlbase }}tag/progression/">Progression</a>
  </li>
  <li class="nav-getting-started" role="menuitem">
    <a href="{{ site.urlbase }}tag/other/">Other</a>
  </li>
</ul>
