<form
  id="signupSubscriberForm"
  method="post"
  action="https://mythainote.campayn.com/contacts/signup_form_add_contact/91114"
  accept-charset="utf-8"
>
  <input type="hidden" name="formId" value="85609" />
  <input type="hidden" id="selectedImage" value="" />
  <input type="hidden" id="selectedImageId" value="" />
  <input class="confirm" type="hidden" name="confirm" /><input
    class="location"
    type="hidden"
    name="location"
  /><input class="referrer" type="hidden" name="referrer" />

  <div class="form-group">
    <input
      class="subscribe-email"
      type="email"
      name="email"
      id="emailAddress"
      placeholder="youremail@example.com"
    />
  </div>
  <button class="" type="submit" id="subscribeToList">
    <span>Subscribe</span>
  </button>
  <script type="text/javascript">
    (function(g, h, o, s, t) {
      h[o](".location")[s] = h[o](".location")[s] || g.location.href;
      h[o](".referrer")[s] = h[o](".referrer")[s] || h.referrer;
    })(window, document, "querySelector", "value");
  </script>
</form>
